@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family.bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf):
}
* { 
    padding: 0px;
    margin: 0px;
}
:root {
    --cor: #195935;
    --cor: #84e1ad;
    --cor: #3DD984;

}
